@model shoppingAPP_EFDatabaseFirst.Models.EF.Shopping.DeptInfo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DeptInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeptName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeptName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeptLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeptLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeptHead)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeptHead)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DeptNo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
